fastapi==0.110.0
uvicorn==0.28.0
langchain==0.1.13
langchain-community==0.0.29
langchain-google-genai==1.0.1
pypdf==4.1.0
pymysql==1.1.0
sqlalchemy==2.0.29
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic==2.6.4
pydantic-settings==2.2.1
